<body>
    <nav class="navbar navbar-expand-xl navbar-light bg-light">
      <a href="#" class="navbar-brand"><i class="fa fa-cube"></i>Araç<b>Kiralama</b></a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collection of nav links, forms, and other content for toggling -->
      <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <div class="navbar-nav">
          <a href="#" class="nav-item nav-link active">Anasayfa</a>
          <a href="#" class="nav-item nav-link">Hakkımızda</a>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Services</a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">Web Design</a>
              <a href="#" class="dropdown-item">Web Development</a>
              <a href="#" class="dropdown-item">Graphic Design</a>
              <a href="#" class="dropdown-item">Digital Marketing</a>
            </div>
          </div>
         
          <a href="#" class="nav-item nav-link">İletişim</a>
        </div>
        <form class="navbar-form form-inline">
          <div class="input-group search-box">								
            <input type="text" id="search" class="form-control" placeholder="Search by Name">
            <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
          </div>
        </form>
        <div class="navbar-nav ml-auto">
          <a href="#" class="nav-item nav-link notifications"><i class="fa fa-bell-o"></i><span class="badge">1</span></a>
          <a href="#" class="nav-item nav-link messages"><i class="fa fa-envelope-o"></i><span class="badge">10</span></a>
          <div class="nav-item dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><img src="assets/images/logo.jpg" > Paula Wilson <b class="caret"></b></a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a>
              <a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a>
              <a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    </body>