<div class ="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">
                 <label for="brandName"> Marka Güncelle </label>  
                </h5>
            </div>
            <div class="card-body">
                <form [formGroup]="brandUpdateForm">
                    <div class="mb-3">
                  <div class="form-group">
                      <input type="text" id="brandName"
                      formControlName="brandName"
                      class="form-control"
                      placeholder="marka Adı"
                      />
                  </div> 
                </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-dark" (click)="backToList()">BackToList</button>
                <button class="btn btn-fill btn-primary" (click)="updateBrand()">
                    Güncelle
                </button>
            </div>
            </div>
            </div>

